<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caballero.cse455_fall17">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/catapp2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/catapp2"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfessorActivity"
            android:label="Who to contact?"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Theme"
            android:screenOrientation="portrait"
            android:label="Customize your app"
            android:parentActivityName=".Settings">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY2"
            android:value="com.example.caballero.cse455_fall17.Settings" />
        </activity>
        <activity
            android:name=".FAQ"
            android:label="Frequently asked questions"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.caballero.cse455_fall17.MainActivity" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.caballero.cse455_fall17.MainActivity" />
        </activity>
        <activity
            android:name=".Log"
            android:label="Send your bugs our way!"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.caballero.cse455_fall17.MainActivity" />
        </activity>
    </application>

</manifest>